<h1>Crypto Price Tracker</h1>

<div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Coin</th>
        <th>Price</th>
        <th>24h %</th>
        <th>24h Volume</th>
        <th>Market Cap</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span id="btcLogo"></span></td>
        <td><strong>Bitcoin</strong> <span id="btcSymbol">...loading...</span></td>
        <td><span id="btcPrice">...loading...</span></td>
        <td><span id="btcChange">...loading...</span></td>
        <td><span id="btcVol">...loading...</span></td>
        <td><span id="btcCap">...loading...</span></td>
      </tr>
     
    </tbody>
  </table>
</div>

